NANAPrototype2.xcodeproj/project.xcworkspace/xcuserdata/nathan.xcuserdatad/UserInterfaceState.xcuserstate
NANAPrototype2.xcodeproj/xcuserdata/nathan.xcuserdatad/*
.DS_Store
NANAPrototype2.xcodeproj/xcuserdata/nathan.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
